GROQ_API_KEY=your-key-here
GEMINI_API_KEY=your-key-here
LLM_MODEL=llama-3.3-70b-versatile

GOOGLE_APPLICATION_CREDENTIALS=/app/vertex_credentials.json
VERTEX_PROJECT_ID=your-project-id-here
VERTEX_LOCATION=us-central1